.container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 10.5s ease-out;
}

.container.active {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in {
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.active.fade-in {
  opacity: 1;
  transform: scale(1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.button-next,
.back-button {
  animation: pulse 1.5s infinite;
}

.option {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.option.show {
  opacity: 1;
  transform: translateY(0);
}
